body {
    background: linear-gradient(135deg, #000000, #0f2027);
    color: white;
    font-family: Arial;
    text-align: center;
}

/* Main heading */
h1 {
    color: #FFD700;
    text-shadow: 0 0 10px #FFD700,
                 0 0 20px #FFD700,
                 0 0 40px #FFD700;
}

/* Cards (auto sab pe apply) */
h2 {
    background: #111;
    padding: 15px;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px #00FFCC;
    transition: 0.3s;
    color: #00FFCC;
    text-shadow: 0 0 10px #00FFCC;
    border-top: 2px solid #00FFCC;
    border-bottom: 2px solid #00FFCC;
}

/* Hover effect */
h2:hover {
    transform: scale(1.03);
    box-shadow: 0 0 20px #00FFCC;
}

/* Paragraph */
p {
    background: #111;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px #222;
}

/* List */
ul {
    background: #111;
    padding: 15px;
    border-radius: 10px;
    display: inline-block;
    text-align: left;
}

/* Button */
button {
    background: #FFD700;
    color: black;
    padding: 12px 25px;
    border-radius: 30px;
    border: none;
    box-shadow: 0 0 15px #FFD700;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    transform: scale(1.05);
    box-shadow: 0 0 25px #FFD700;
}
